/* .plusIcon:hover {
  background-color: white;
} */
.plusIcon {
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.plusIcon:hover {
  border: 1px groove white;
}
.minusIcon {
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* bottomLeftborderRadius: "5px", */
}
.minusIcon:hover {
  border: 1px groove white;
}

/* .RightArrowForAdressForm:hover {
  fill: white;
} */
